node_modules
npm-debug.log
dist
.env.local
.env.*.local
.gitignore
.DS_Store
.vscode
.idea
*.md
tests
coverage
.dockerignore
Dockerfile
docker-compose.yml
.webpack
.next
webpack.config.js
tsconfig.json
