node_modules
.env
.env.production
build
dist
logs




src/utils/constants.ts

/uploads/*
service-account.json
package-lock.json
quick-ship-93392-firebase-adminsdk-ko471-21e77c7507.json
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
